<!-- 
<a href="#" style="text-decoration: none; color: black;"><h3 style="text-align: center;">Employee Details</h3></a>

<table class="table table table-borderless" style="text-align: center;">
    <thead class="table-dark">
      <tr>
        <th>Id</th> 
        <th >Name</th>
        <th>Designation</th>
        <th>DOJ</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Skills</th>
        <th>Age</th>
        <th colspan="2">Actions</th>
        <th><button type="button" class="btn btn-success" routerLink="employee-detail">Add Book</button></th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.Name}}</td>
        <td>{{emp.Designation}}</td>
        <td>{{emp.DateOfJoining}}</td> 
        <td>{{emp.Contact}}</td> 
        <td>{{emp.Address}}</td> 
        <td>{{emp.Skills}}</td>
        <td>{{emp.Age}}</td>  
        <td><button type="button" class="btn btn-primary" routerLink="/edit/{{emp.id}}">Edit</button></td>
        <td><button type="button" class="btn btn-danger" >Delete</button></td> -->
      <!-- </tr>
      
    </tbody>
  </table>   -->