   <div class="container">
    <div class="card">
        <div class="card-header">
            WELCOME TO EMPLOYEEXSPACE
        </div>
        <div class="card-body">
            <p class="card-text">Here you can find copies of your payslips, important company notifications, submit your attendance, and edit your profile.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MY TASKS</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Workflow - complete end of the year(2022)</li>
                    <li class="list-group-item">Enrollment in cyber security course</li>
                    <li class="list-group-item">Fill timesheet</li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">MY NOTIFICATION</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Team meet at 12 for task assigning</li>
                    <li class="list-group-item">Your task review session</li>
                    <li class="list-group-item">Assigned to a new team</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            MY DOCUMENTS
        </div>
        <div class="card-body">
            <p class="card-text">Required to add Degree</p>
            <p class="card-text">Add Medical Certificate</p>
            <a href="#" class="btn btn-primary">Go To Profile</a>
        </div>
    </div>
</div>
